@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;

  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(264, 40%, 65%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 3.8fr;
    padding: 0 2rem;
    height: 100vh;
  }
}
